@{
    Layout = "~/Views/Shared/_PickinLayout.cshtml";
}

@{
    ViewBag.IndexCshtmlTitle = "Index.cshtml";
}

	<h2>@ViewBag.IndexCshtmlTitle.</h2>

	<h2>@ViewBag.pickinUserEmail</h2>

    <p class="lead">Looks like your PickinUserId is...  @ViewBag.pickinUser.Email</p>


