@{
    Layout = "~/Views/Shared/_PickinLayout.cshtml";
}

@{
    // ViewBag.MyTunesTitle = "MyTunes.cshtml";
}
@{
    ViewBag.MyTunesAppUser = "Hey Jo";
}

	<h2>@ViewBag.MyTunesTitle.</h2>
	<h2>@ViewBag.AppUser..</h2>


